body{
    background: #272b2f;  /* fallback for old browsers */
}

.bg-darkest{
    background: rgb(18 20 22);
    color: rgb(209 213 219);
    padding: 5px 10px;
    border-radius: 5px;
}

.text-gray-300{
    color: rgb(209 213 219);
}

#callToActionButton {
    background-color: rgb(25, 26, 29);
    box-shadow: rgba(255, 255, 255, 0.07) -5px -5px 10px 0px, rgba(0, 0, 0, 0.12) 5px 5px 10px 0px, rgba(255, 255, 255, 0.07) -15px -15px 35px 0px, rgba(0, 0, 0, 0.12) 15px 15px 35px 0px, rgba(0, 0, 0, 0.05) 160px 160px 160px 0px inset, rgba(255, 255, 255, 0.05) -160px -160px 160px 0px inset;
    color: white;
    /* border: 1px solid inherit; */
    border-radius: 7.5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    /* height: 47px; */
    line-height: 25px;
    /* margin: 10px 20px; */
}

#callToActionButton:hover{
    background: rgb(129 140 248);
}

#two {
    color: #9CA3AF;
}